<!DOCTYPE html>
<html>
  <head>
    <title>CsgoDeployment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1 style="margin-bottom:0">
        RuCAd
      </h1>
      <p style="margin-bottom:20px"><small>RUSLAN CS:GO Server Administration</small></p>

      <%= render partial: 'layouts/flash' %>
      <%= render partial: 'layouts/navbar' %>
    </header>

    <hr />

    <%= yield %>

    <div class="container mt-4">
      <div class="row">
        <div class="col text-small text-center text-muted">
          Mega Meget &copy;opyright Frederik Spang Thomsen
        </div>
      </div>
    </div>
  </body>
</html>
